
<div class="exchange  ">   


  <p class="p" >EXCHANGE CURRENCY RATE</p>
<div class="currencyselect" >
<select [(ngModel)]="option" class="from form-control" >Select
    <option *ngFor="let li of currency" >{{li}}</option>   
</select>
<select  [(ngModel)]="op1" class="to form-control ">
    <option *ngFor="let li of currency">{{li}}</option>
</select>
</div>
    <input type="text" class="amount form-control" [(ngModel)]="amount">
</div>
<div >
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-right  photo" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
      </svg>
</div>
<div >
    <input  type="button"class="btn btn-secondary button" (click)="convert()" value="Submit"></div>
    <div class="output"><b>RESULT</b>
        <p class=" form-control box" *ngIf="show">{{a | number}}{{op1}}</p>  
        <p class=" form-control box" *ngIf="show1"></p>  
        </div>
        
